---
import ContactSection from '../components/ContactSection.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/CallToAction.astro';
import ProjectsSection from '@components/ProjectsSection.astro';
import BlogSection from '@components/BlogSection.astro';
import AboutSection from '@components/AboutSection.astro';
---



<Layout title="Welcome to Astrolus.">
	<main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-clip">
		<HeroSection/>
		<ProjectsSection />
		<AboutSection />
		<BlogSection />
		<ContactSection/>
	</main>
</Layout>