---
import Container from "./Container.astro";
import ContactForm from "./ContactForm.astro";
---

<section class="scroll-mt-24" id="contact">
    <Container>
        <div class="lg:full text-center mx-auto">
            <h2 class="text-gray-900 dark:text-white font-bold text-2xl sm:text-3xl md:text-5xl my-12">Contact Me</h2>
        </div>
        <ContactForm />
    </Container>
</section>
